.banner{
   
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: auto;
}


.pic{
    width: 573px;
    height: 300px;
    display: flex;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}
.blood{
 text-align: center;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    
    color: white;
}
.simple{
    display: flex;
}
.samin{
    display: flex;
}